/* bourbon */

.hero-text{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: ratate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 1.25em; }

/* bourbon_neat */

html{

}

*,*::after, *::before{

}

.profile{

}

.profile::after{

}
.profile .information{

}
.profile .information:last-child{

}
.profile .photos{

}
.profile .photos:last-child{

}


